body {
	font-size: 14px;
	line-height: 24px;
	color: $body-color;
	font-family: 'robotolight';
	text-align: justify;
}

a {
	color: $accent;
	@include transition(all, 150ms, ease-in-out);
	text-decoration: none !important;
	&:hover {
		color: $heading-color;
	}
}

h1, h2, h3, h4, h5 {
}


::-webkit-input-placeholder {
   color: lighten($dark-bg, 20%);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten($dark-bg, 20%);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($dark-bg, 20%);
}

:-ms-input-placeholder {
   color: lighten($dark-bg, 20%);
}

.button {
	padding: 10px 20px;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'robotobold';

	&.button-nav {
		background-color: #3c4756;
		color: $white;
	}

	&.default,
	&.button-nav.active {
		background: $accent;
		color: $white;

		&:hover,
		&:focus {
			background: lighten($accent, 5%);
		}
	}
}

.page-section {
	padding: 60px 0px;
}

.page-heading {
	margin-bottom: 65px;
}

.page-title {
	font-size: 20px;
	font-family: 'caviarDreams';
	text-transform: uppercase;
	margin-bottom: 7px;
}

.page-subtitle {
	font-size: 14px;
	font-family: 'caviarDreams';
}

.page-icon-holder {
	text-align: right;
}

.page-icon {
	width: 44px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background: $accent;
	color: $white;
	display: inline-block;
}

.social-icons {
	li {
		display: inline-block;
		width: 100%;
		margin-bottom: 5px;
	}
	a {
		width: 40px;
		height: 40px;
		line-height: 40px;
		background: lighten($dark-bg, 10%);
		text-align: center;
		color: $white;
		margin-right: 10px;
		&:hover {
			background: $accent;
		}
	}

	h4 {
		margin: 0 !important;
	}
}

.page-section {
	background: $dark-bg;

	&:nth-child(odd){
		background: $light-bg;
		color: $dark-bg;
	}
}

img {
	max-width: 100%;
}

.flash {
	position: fixed;
    top: 90px;
    right: 0;
    padding: 15px;
    z-index: 10000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

	&__success {
		background: #4CAF50;
	}

	&__error {
		background: #F44336;
	}

	i {
		margin-right: 10px;
	}
}

.arrow-link {
	position: absolute;
    bottom: 0;
    width: 80px;
    opacity: 0.1;
    left: 50%;
    margin-left: -40px;

    &:hover,
    &:focus {
    	opacity: 0.3;
    }
}

.marged-top {
	margin-top: 30px;
    display: block;
}

.marged-bottom {
	margin-bottom: 30px;
    display: block;

    &--big {
    	margin-bottom: 60px;
    	display: block;
    }
}

.is-sticky {
	padding-top: 59px;
}

.no-marg {
	margin: 0 !important;
}

#photos {
	padding-bottom: 0;
}

.gallery-item > a{
	display: block;
}

.modal-open {
	#navigation .navbar {
		padding-right: 15px;
	}
}
