@include media(max-width $phone) {
	.page-section {
		.page-heading {
			margin-bottom: 30px;
		}
	}

	.contact-info {
		margin-bottom: 0;
	}

	.navbar, .navbar-default, .navbar-static-top {
		height: auto;
		margin-bottom: 0;
	}

	#undefined-sticky-wrapper, .sticky-wrapper {
		height: auto !important;
	}

	.is-sticky .navbar.navbar-default.navbar-static-top {
		height: auto;
	}

	.gallery-item {
		margin-bottom: 30px;
	}

	#seance hr {
		display: none;
	}

	.seance-state {
		margin-bottom: 15px;
	}

	.seance-state img {
		width: 100%;
		margin-bottom: 45px;
	}

	.contact-form {
		margin-bottom: 45px;
	}

	.gallery-thumb {
		margin-bottom: 30px;
	}
}
