#seance {
	hr {
		clear: both;
		width: 20%;
	}
}

.seance-state {
	margin-bottom: 60px;
	h4 {
		margin-bottom: 40px;
		font-size: 20px;
		margin-top: 20px;
	}
	img {
		margin-bottom: 20px;
	}

}
