<section id="about" class="page-section first-section">
    <div class="container">
        <div class="row page-heading">
            <div class="col-md-8 col-sm-8">
                <h3 class="page-title">Qui suis-je ?</h3>
            </div>
            <div class="col-md-4 col-sm-4 hidden-xs page-icon-holder">
                <p class="page-icon"><i class="fa fa-user"></i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="profile-image">
                    <img src="img/photos/DSC06351.jpg" alt="Coline Fanzutti" title="Coline Fanzutti">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="profile-content">
                    <p>Ostéopathe exclusive, j'ai suivi un enseignement complet de 5 années de formation à temps plein au sein du Collège Ostéopathique Sutherland à Genneviliers (C.O.S), ayant abouti à la validation de mon clinicat pratique et théorique, comprenant également de nombreux stages en milieu hospitalier.</p><br />
                    <p>Je possède un diplôme d'ostéopathe, certifié par l'Etat et enregistré au Répertoire National des Certifications Professionnelles (RNCP).</p><br />
                    <p>Grâce à cette formation, je suis capable de proposer un traitement ostéopathique adapté à tous types de maux.</p>
                    <br />
                    <p>
                        Enregistrée à l'ARS sous le numéro ADELI 91 00 0408 4.<br />
                        Numéro SIRET 807 403 951 00013
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="address-info">
                    <h2 class="page-title">informations</h2>
                    <span class="">Sur rendez-vous & à domicile</span>
                    <span class="horaires">Du <strong>lundi</strong> au <strong>vendredi</strong> de <strong>8h</strong> à <strong>21h</strong></span>
                    <span class="horaires">Le <strong>samedi</strong> de <strong>8h</strong> à <strong>13h</strong></span>
                    <h4>1 Square Gustave Flourens</h4>
                    <h5><strong>91000</strong> - <strong>Evry</strong></h5>

                    <ul class="social-icons">
                        <li><a href="https://www.transilien.com/gare/le-bras-de-fer-evry-genopole-8768139" class="fa fa-train"></a><img class="img-rer" src="img/rerd.png" alt="rer D" title="rer D"> Le bras de Fer - Evry - Génopole</li>
                    </ul>
                </div>

                <div class="contact-info">
                    <ul class="social-icons">
                        <li><h4><a href="tel:0687358180" class="fa fa-phone"></a> 06 87 35 81 80</h4></li>
                        <li><a href="mailto:fanzutti.osteo@gmail.com" class="fa fa-envelope"></a> fanzutti.osteo@gmail.com</li>
                        <li><a href="https://www.linkedin.com/in/coline-fanzutti-07a172103" class="fa fa-linkedin"></a> Accéder à mon Linkedin</li>
                    </ul>
                    <div class="text-center">
                        <a href="#contact" class="button default text-center">Me contacter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
