<section id="address" class="page-section">
    <div class="container">
        <div class="row page-heading">
            <div class="col-md-8 col-sm-8">
                <h3 class="page-title">Adresse</h3>
            </div>
            <div class="col-md-4 col-sm-4 hidden-xs text-right">
                <p class="page-icon"><i class="fa fa-map-marker"></i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2637.4247795160754!2d2.4452714160401445!3d48.62085297926499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5e0afd141abfd%3A0xca36d6042e02e417!2sColine+Fanzutti+-+Ost%C3%A9opathe+DO!5e0!3m2!1sfr!2sfr!4v1453380293363" height="450" allowfullscreen></iframe>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="address-info">
                    <h4>1 Square Gustave Flourens</h4>
                    <h5>91000 - Evry</h5>

                    <ul class="social-icons">
                        <li><a href="https://www.transilien.com/gare/le-bras-de-fer-evry-genopole-8768139" class="fa fa-train"></a><img class="img-rer" src="img/rerd.png" title="rer D" alt="rer D"> Le bras de Fer - Evry - Génopole</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
