<section id="address" class="page-section">
    <div class="container">
        <div class="row page-heading">
            <div class="col-md-8 col-sm-8">
                <h3 class="page-title">Adresses</h3>
            </div>
            <div class="col-md-4 col-sm-4 hidden-xs text-right">
                <p class="page-icon"><i class="fa fa-map-marker"></i></p>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="nozay" role="tabpanel" aria-labelledby="nozay-tab">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3050.103132889815!2d2.2389547154177185!3d48.65949478315547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdd20b9404c982b55!2sColine+Fanzutti+-+Ost%C3%A9opathe+DO!5e0!3m2!1sfr!2sfr!4v1551084354126" height="450" allowfullscreen></iframe>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="address-info">
                            <h4>15 Rue des Maraîchers</h4>
                            <h5>91620 - Nozay</h5>

                            <ul class="social-icons">
                                <li><a href="#" class="fa fa-bus"></a><img class="img-rer" src="img/bus.png" alt="DM11 C" title="DM11 C"><div class="boxed" style="border-bottom-color: #000000"><span class="text">DM11 C</span></div> - Versailles</li>
                                <li><a href="#" class="fa fa-wheelchair"></a> Accès handicapé</li>
                                <li><a href="#" class="fa ico-parking" data-toggle="popover" data-content="Parking gratuit au niveau du 12 rue St-Germain">P</a> Parking gratuit</li>
                            </ul>
                        </div>

                        <a href="img/map-nozay.jpg" class="marged-top hidden-xs" target="_blank">
                            <img src="img/map-nozay.jpg" title="map-nozay" alt="map-nozay">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
