<section id="contact" class="page-section">
    <div class="container">
        <div class="text-center marged-bottom--big">
            <a href="http://www.clicrdv.com/coline-fanzutti" class="button default" target="_blank">
                <i class="fa fa-calendar"></i> Prendre rendez-vous en ligne
            </a>
        </div>

        <div class="row page-heading">
            <div class="col-md-8 col-sm-8">
                <h3 class="page-title">Me contacter</h3>
                <p class="page-subtitle">Pour toutes questions ou demande de rendez-vous</p>
            </div>
            <div class="col-md-4 col-sm-4 hidden-xs text-right">
                <p class="page-icon"><i class="fa fa-envelope"></i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <form action="actions/contact.php" method="post" class="contact-form">
                        <fieldset class="col-md-4 col-sm-6 col-xs-12">
                            <input type="text" id="name" name="name" placeholder="Votre nom" required>
                        </fieldset>
                        <fieldset class="col-md-4 col-sm-6 col-xs-12">
                            <input type="email" id="email" name="email" placeholder="Votre adresse e-mail" required>
                        </fieldset>
                        <fieldset class="col-md-4 col-sm-12 col-xs-12">
                            <input type="text" id="subject" name="subject" placeholder="Le sujet de votre message" required>
                        </fieldset>
                        <fieldset class="col-md-12 col-sm-12 col-xs-12">
                            <textarea name="message" id="message" cols="30" rows="6" placeholder="Votre message" required></textarea>
                        </fieldset>
                        <fieldset class="col-md-12 col-sm-12 col-xs-12">
                            <input type="submit" class="button default" value="Envoyer">
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="contact-info">
                    <ul class="social-icons">
                        <li><h4><a href="tel:0687358180" class="fa fa-phone"></a> 06 87 35 81 80</h4></li>
                        <li><a href="mailto:fanzutti.osteo@gmail.com" class="fa fa-envelope"></a> fanzutti.osteo@gmail.com</li>
                        <li><a href="https://www.linkedin.com/in/coline-fanzutti-07a172103" class="fa fa-linkedin"></a> Accéder à mon Linkedin</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
