<section id="gallery" class="page-section">
    <div class="container">
        <div class="row page-heading">
            <div class="col-md-8 col-sm-8">
                <h3 class="page-title">Quand consulter ?</h3>
            </div>
            <div class="col-md-4 col-sm-4 hidden-xs text-right">
                <p class="page-icon"><i class="fa fa-clock-o"></i></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p>
                    S’il n’y a pas de moment spécifique pour venir consulter un ostéopathe, il est préférable d’y aller deux ou trois fois par an si vous êtes en forme et ne souffrez pas, pour garder un bon état de santé et ainsi prévenir d’éventuel trouble. 
                    <br/><br />
                    Au cours de la vie, votre corps va enregistrer des dysfonctions à chaque petits aléas (chute, stress, traumatisme,…), et ces pertes de mobilité vont s’accumuler. Le corps humain a la capacité de les compenser en créant par exemple  des points d’appui différents, un autre équilibre, jusqu’au jour où il ne pourra plus compenser et c’est à ce moment que les douleurs apparaissent. Bien entendu, n’hésitez pas à faire appel à votre ostéopathe, mais sachez qu’il aurait peut-être été préférable de consulter avant  que ces douleurs n’apparaissent. 
                    <br/><br />
                </p>
            </div>
        </div>

        <div class="row">
            <div class="gallery-holder">
                <div class="col-md-3 col-sm-6 col-xs-12 gallery-item">
                    <div class="gallery-thumb">
                        <img src="img/fracture.jpg" alt="">
                        <div class="hover">
                            <a href="#" data-toggle="modal" data-target="#modal-fracture">Séquelles</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 gallery-item">
                    <div class="gallery-thumb">
                        <img src="img/mal-de-tete.jpg" alt="">
                        <div class="hover">
                            <a href="#" data-toggle="modal" data-target="#modal-mal-de-tete">Systèmes</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 gallery-item">
                    <div class="gallery-thumb">
                        <img src="img/nourisson.jpg" alt="">
                        <div class="hover">
                            <a href="#" data-toggle="modal" data-target="#modal-nourisson">Suivi du nourrisson</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 gallery-item">
                    <div class="gallery-thumb">
                        <img src="img/grossesse.jpg" alt="">
                        <div class="hover">
                            <a href="#" data-toggle="modal" data-target="#modal-grossesse">Suivi de grossesse</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="modal-fracture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Séquelles</h4>
                </div>

                <div class="modal-body">
                    <img src="img/fracture.jpg" alt="" width="100%">
                    <ul>
                        <li>
                            Traumatiques :
                            <ul>
                                <li>Accident de la voie publique, chutes, fractures, entorses, traumatismes sportifs,…</li>
                            </ul>
                        </li>
                        <li>
                            Séquelles musculo-squelettique :
                            <ul>
                                <li>Articulaires : lombalgies, lumbago, dorsalgies, cervicalgies, raideurs articulaires, douleur de mâchoire, douleur du bassin, coccyx, pubis, douleur membre inférieur et supérieur, rhumatismes, séquelles acte chirurgical,…</li>
                                <li>Musculo-ligamentaires : entorses, tendinites, ténosynovite, syndrome de la bandelette ilio-tibiale,…</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <a href="#" class="pull-right" data-dismiss="modal">Fermer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-mal-de-tete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Systèmes</h4>
                </div>

                <div class="modal-body">
                    <img src="img/mal-de-tete.jpg" alt="" width="100%">
                    <ul>
                        <li>
                            Système céphalique :<br>
                            Maux de tête, migraines, vertiges
                        </li>

                        <li>
                            Système ORL et pulmonaire :<br>
                            Acouphènes, infections ORL (otites, sinusites, rhinites,…), allergies, asthme, trouble de la déglutition, vertiges
                        </li>

                        <li>
                            Système vasculaire :<br>
                            Œdèmes, hémorroïdes, troubles circulatoires de membres inférieurs et supérieurs, congestion veineuse,…
                        </li>

                        <li>
                            Système nerveux :<br>
                            Sciatique, sciatalgie, cruralgie, méralgie, névralgie cervico-brachiale, névralgie d’Arnold,…
                        </li>

                        <li>
                            Système viscéral :<br>
                            <ul>
                                <li>
                                    Haut : reflux gastro-œsophagiens, acidité gastrique, ballonnements, gastrites, ulcères, douleurs,…
                                </li>
                                <li>
                                    Bas : constipations, diarrhées, colites, colopathie fonctionnelle, douleurs, digestion difficile,…
                                </li>
                            </ul>
                        </li>

                        <li>
                            Système génito-urinaire :<br>
                            Cystites, douleurs, douleurs pendant rapports sexuels, règles douloureuses,…
                        </li>

                        <li>
                            Système neurovégétatif :<br>
                            Stress, anxiété, trouble du sommeil, état dépressif, crise d’angoisse, spasmophilie, palpitations,…
                        </li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <a href="#" class="pull-right" data-dismiss="modal">Fermer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-nourisson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Suivi du nourrisson</h4>
                </div>

                <div class="modal-body">
                    <img src="img/nourisson.jpg" alt="" width="100%">
                    <ul>
                        <li>Torticolis, plagio-céphalie, coliques, troubles ORL, régurgitations, troubles du sommeil,...</li>
                        <li>Pour résoudre plus rapidement d’éventuels troubles de la grossesse et/ou de la naissance, il est préférable de faire une consultation au nourrisson lors du 1er mois.</li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <a href="#" class="pull-right" data-dismiss="modal">Fermer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-grossesse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Suivi de grossesse</h4>
                </div>

                <div class="modal-body">
                    <img src="img/grossesse.jpg" alt="" width="100%">
                    <ul>
                        <li>Troubles mécaniques : lombalgies, sciatalgies, douleur du bassin,…</li>
                        <li>Troubles digestifs : nausées, reflux gastro-œsophagien, trouble du transit, ballonnements,…</li>
                        <li>Troubles circulatoires : jambes lourdes, hémorroïdes, maux de tête,…</li>
                        <li>Troubles respiratoires</li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <a href="#" class="pull-right" data-dismiss="modal">Fermer</a>
                </div>
            </div>
        </div>
    </div>

</section>
