<nav id="navigation" role="navigation" aria-label="Menu principal">
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-expanded="false" aria-controls="navbar-collapse">
                    <span class="sr-only">Basculer la navigation</span>
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <a class="navbar-brand hidden-sm" href="index.php" title="Accueil - Coline Fanzutti Ostéopathe">
                    Coline <span class="accent">FANZUTTI</span>
                </a>
            </div>

            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about" title="Qui suis-je ?">Qui suis-je ?</a></li>
                    <li><a href="#rdv" title="Prendre rendez-vous">Prendre RDV</a></li>
                    <li><a href="#osteo" title="L'ostéopathie">L'ostéopathie</a></li>
                    <li><a href="#gallery" title="Quand consulter ?">Quand consulter ?</a></li>
                    <li><a href="#seance" title="Une séance d’ostéopathie">Une séance</a></li>
                    <li><a href="#address" title="Adresses des cabinets">Adresse</a></li>
                    <li><a href="#contact" title="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>