<section id="osteo" class="page-section">
    <div class="container">
        <div class="row page-heading">
            <div class="col-md-8 col-sm-8">
                <h3 class="page-title">L'ostéopathie</h3>
            </div>
            <div class="col-md-4 col-sm-4 hidden-xs text-right">
                <p class="page-icon"><i class="fa fa-question"></i></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p>
                    L'ostéopathie consiste à corriger les pertes de mobilité du corps humain à l'aide exclusivement de techniques manuelles. Le corps humain à la capacité de compenser chaque dysfonction jusqu'à une accumulation et alors les douleurs apparaissent, l'ostéopathe va alors chercher et déterminer la cause de ces douleurs pour ensuite les traiter et permettre au corps de se rééquilibrer autour du traitement effectué.
                </p><br />
                <p>
                    L'ostéopathie est une science, une philosophie et un art.
                </p><br />
                <p>
                    En effet elle repose sur une connaissance de l'anatomie humaine, la physiologie et une palpation minutieuse pour ainsi comprendre le corps humain entre le vécu du patient et les douleurs présentes.
                </p><br />
                <p>
                    Elle se compose autour de concept :
                </p><br />
                <ul>
                    <li>L'unité du corps humain, le patient est un tout, certes il est composé de différentes structures comme les os, muscles, vaisseaux, nerfs… mais il ne forme qu'un et ce principe désigne bien que tous les éléments du corps sont en lien ensemble, l'ostéopathe prend en compte la globalité de l'individu.</li>
                    <li>Le lien structure et fonction, si la structure d'un élément n'est pas optimale alors la fonction ne le sera pas, et inversement. Il faut donc rétablir la fonction de cet élément pour recouvrer une structure optimale.</li>
                    <li>L'auto-guérison du corps, après un traitement ostéopathque, le corps va se guérir tout seul, il intègre les différentes manipulations dans son propre équilibre pour retrouver un état d'équilibre général.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
