<section id="photos" class="page-section">
    <div class="container">
        <div class="row page-heading">
            <div class="col-md-8 col-sm-8">
                <h3 class="page-title">Le cabinet</h3>
            </div>
            <div class="col-md-4 col-sm-4 hidden-xs text-right">
                <p class="page-icon"><i class="fa fa-camera"></i></p>
            </div>
        </div>

        <div class="row">
            <div class="gallery-holder">
                <div class="col-sm-6 col-xs-12">
                    <div class="gallery-item">
                        <a href="#pic-1" data-toggle="modal">
                            <img src="img/photos/DSC_0457-2.jpg" alt="Le cabinet" title="Le cabinet">
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="gallery-item no-marg">
                        <a href="#pic-2" data-toggle="modal">
                            <img src="img/photos/DSC_0458-2.jpg" alt="Le cabinet" title="Le cabinet">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="pic-1" tabindex="-1" role="dialog" aria-labelledby="pic-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img src="img/photos/DSC_0457-2.jpg" alt="Le cabinet" title="Le cabinet">
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="pic-2" tabindex="-1" role="dialog" aria-labelledby="pic-2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img src="img/photos/DSC_0458-2.jpg" alt="Le cabinet" title="Le cabinet">
            </div>
        </div>
    </div>
</section>
