<section id="photos" class="page-section">
    <div class="container">
        <div class="row page-heading">
            <div class="col-md-8 col-sm-8">
                <h3 class="page-title">Le cabinet</h3>
            </div>
            <div class="col-md-4 col-sm-4 hidden-xs text-right">
                <p class="page-icon"><i class="fa fa-camera"></i></p>
            </div>
        </div>

        <div class="row">
            <div class="gallery-holder">
                <div class="tab-content">
                    <div class="tab-pane active" id="nozay-cab" role="tabpanel" aria-labelledby="nozay-cab">
                        <div class="col-sm-6 col-xs-12 marged-bottom">
                            <div class="gallery-item no-marg">
                                <a href="#pic-3" data-toggle="modal" title="pic-3">
                                    <img src="img/photos/nozay/IMG_6005.jpg" alt="Le cabinet" title="Le cabinet">
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-12 marged-bottom">
                            <div class="gallery-item no-marg">
                                <a href="#pic-4" data-toggle="modal" title="pic-4">
                                    <img src="img/photos/nozay/IMG_6006.jpg" alt="Le cabinet" title="Le cabinet">
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-12 marged-bottom">
                            <div class="gallery-item no-marg">
                                <a href="#pic-5" data-toggle="modal" title="pic-5">
                                    <img src="img/photos/nozay/IMG_6004.jpg" alt="Le cabinet" title="Le cabinet">
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-12 marged-bottom">
                            <div class="gallery-item no-marg">
                                <a href="#pic-6" data-toggle="modal" title="pic-6">
                                    <img src="img/photos/nozay/IMG_6007.jpg" alt="Le cabinet" title="Le cabinet">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="pic-1" tabindex="-1" role="dialog" aria-labelledby="pic-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img src="img/photos/DSC_0457-2.jpg" alt="Le cabinet" title="Le cabinet">
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="pic-2" tabindex="-1" role="dialog" aria-labelledby="pic-2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img src="img/photos/DSC_0458-2.jpg" alt="Le cabinet" title="Le cabinet">
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="pic-3" tabindex="-1" role="dialog" aria-labelledby="pic-3">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img src="img/photos/nozay/IMG_6005.jpg" alt="Le cabinet" title="Le cabinet">
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="pic-4" tabindex="-1" role="dialog" aria-labelledby="pic-4">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img src="img/photos/nozay/IMG_6006.jpg" alt="Le cabinet" title="Le cabinet">
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="pic-5" tabindex="-1" role="dialog" aria-labelledby="pic-5">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img src="img/photos/nozay/IMG_6004.jpg" alt="Le cabinet" title="Le cabinet">
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="pic-6" tabindex="-1" role="dialog" aria-labelledby="pic-6">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img src="img/photos/nozay/IMG_6007.jpg" alt="Le cabinet" title="Le cabinet">
            </div>
        </div>
    </div>
</section>
