<section id="seance" class="page-section">
    <div class="container">
        <div class="row page-heading">
            <div class="col-md-8 col-sm-8">
                <h3 class="page-title">Déroulement d'une séance</h3>
            </div>
            <div class="col-md-4 col-sm-4 hidden-xs text-right">
                <p class="page-icon"><i class="fa fa-gear"></i></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                <div class="seance-state">
                    <div class="text-center">
                        <h4 class="page-subtitle"><span class="page-icon">1</span> L'anamnèse</h4>
                        <img src="img/anamnese.jpg" alt="anamnese" title="L'anamnese">
                    </div>
                    <p>
                        Durant cette phase le praticien va vous poser un ensemble de questions. Apres les informations administratives, il va s’informer sur votre motif de consultation (où se trouve la douleur, depuis quand, comment, quel type, quelle intensité…) puis étoffer son interrogatoire par des questions sur votre passé médical qu’il soit récent ou ancien car l’ostéopathe a besoin de connaitre au mieux les troubles subit par votre corps pour en comprendre le fonctionnement actuel et les différentes pertes de mobilités constatées au moment m.
                    </p><br />
                    <p>
                        C’est à l’issue de l’anamnèse que l’ostéopathe est capable de dire s’il peut prendre en charge le patient ou alors de le renvoyer vers un professionnel de santé et d’éventuellement passer des examens complémentaires avant un traitement ostéopathique.
                    </p>
                </div>
            </div>
            <hr />
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                <div class="seance-state">
                    <div class="text-center">
                        <h4 class="page-subtitle"><span class="page-icon">2</span> L'examen clinique</h4>
                        <img src="img/exam.jpg" alt="L'examen clinique" title="L'examen clinique">
                    </div>
                    <p>
                        C’est à ce moment que l’ostéopathe va effectuer des tests sur l’ensemble de votre corps pour déceler les pertes de mobilités et les états de tension que ce soit sur le plan ostéo-musculaire, crânien, viscéral. Les zones en dysfonction mises en évidence par l’ostéopathe peuvent être à distance de la douleur du patient, effectivement, le corps est en constante adaptation donc c’est une accumulation de petites dysfonctions non douloureuses à différents endroits du corps qui fait qu’a un moment le corps en « surcharge » va décompenser et apparait une douleur.
                    </p><br />
                    <p>
                        Le praticien va alors savoir comment s’orienter pour le traitement ostéopathique.
                    </p>
                </div>
            </div>
            <hr />
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                <div class="seance-state no-marg">
                    <div class="text-center">
                        <h4 class="page-subtitle"><span class="page-icon">3</span> Le traitement</h4>
                        <img src="img/traitement.jpg" alt="Le traitement" title="Le traitement">
                    </div>
                    <p>
                        L’ostéopathe va manipuler différentes parties de votre corps pour traiter la cause des douleurs, en effectuant des techniques adaptées au patient. Il ne s’agit donc pas forcement de manipuler la zone douloureuse.
                    </p><br />
                    <p>
                        En fin de consultation le praticien vous donnera des conseils pour vous aider à retrouver votre état de santé et optimiser les résultats de la séance.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
