<div id="home" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="item-1"></div>
            <div class="carousel-caption">
                <div class="container">
                    <div class="col-md-offset-2 col-md-8 col-sm-12" id="logo-container" data-scroll-top>
                        <img class="animated fadeInDown" src="img/logo-2.png" alt="logo" title="logo">
                        <h2 class="animated fadeInUp">Coline <span class="accent">FANZUTTI</span></h2>
                        <h3 class="animated fadeInUp">OSTÉOPATHE</h3>
                    </div>
                </div>
            </div>
            <div class="cache"></div>
        </div>

        <a href="#" data-scroll-top class="arrow-link">
            <img src="img/arrow_dwn.png" alt="">
        </a>
    </div>
</div>
