<section id="gallery" class="page-section">
    <div class="container">
        <div class="row page-heading">
            <div class="col-md-8 col-sm-8">
                <h3 class="page-title">Quand consulter un ostéopathe ?</h3>
            </div>
            <div class="col-md-4 col-sm-4 hidden-xs text-right">
                <p class="page-icon"><i class="fa fa-clock-o"></i></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p>
                    Il n’existe pas de moment unique ou obligatoire pour consulter un <strong>ostéopathe</strong>.
                    Cependant, il est conseillé de réaliser une consultation préventive deux à trois fois par an, même
                    sans douleur, afin de maintenir un bon équilibre corporel et prévenir l’apparition de troubles
                    musculo-squelettiques ou fonctionnels.
                </p>
                <br />
                <p>
                    Au fil du temps, le corps accumule des petites <strong>dysfonctions</strong> liées aux aléas de la
                    vie : chutes, stress, gestes répétitifs, postures inadaptées, traumatismes sportifs, etc.
                    Ces pertes de mobilité s’ajoutent et le corps compense en modifiant ses appuis et son équilibre
                    général.
                    Lorsque ces mécanismes de compensation sont dépassés, les douleurs et gênes fonctionnelles
                    apparaissent.
                </p>
                <br />
                <p>
                    Consulter un ostéopathe dès les premiers signes ou même en prévention permet d’agir efficacement
                    pour restaurer la mobilité, soulager les tensions et améliorer la qualité de vie.
                </p>
                <br />
                <p>
                    Les consultations s’adressent à tous les âges et à de nombreuses situations : nourrissons, enfants,
                    adultes, femmes enceintes, sportifs, seniors, ainsi que pour accompagner la récupération après un
                    accident ou une intervention chirurgicale.
                </p>
                <br />
            </div>
        </div>

        <div class="row">
            <div class="gallery-holder">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="gallery-thumb">
                        <img src="img/fracture.jpg" alt="Séquelles traumatiques et musculo-squelettiques">

                        <div class="hover">
                            <a href="#" title="Séquelles traumatiques et musculo-squelettiques" data-toggle="modal"
                                data-target="#modal-fracture">+ d'infos</a>
                        </div>

                        <a class="gallery-title" title="Séquelles traumatiques et musculo-squelettiques" href="#"
                            data-toggle="modal" data-target="#modal-fracture">
                            Séquelles
                        </a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="gallery-thumb">
                        <img src="img/mal-de-tete.jpg" alt="Troubles des systèmes céphalique, ORL, nerveux">

                        <div class="hover">
                            <a href="#" title="Troubles des systèmes céphalique, ORL, nerveux" data-toggle="modal"
                                data-target="#modal-mal-de-tete">+ d'infos</a>
                        </div>

                        <a class="gallery-title" title="Troubles des systèmes céphalique, ORL, nerveux" href="#"
                            data-toggle="modal" data-target="#modal-mal-de-tete">
                            Systèmes
                        </a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="gallery-thumb">
                        <img src="img/nourisson.jpg" alt="Suivi ostéopathique du nourrisson">

                        <div class="hover">
                            <a href="#" title="Suivi ostéopathique du nourrisson" data-toggle="modal"
                                data-target="#modal-nourisson">+ d'infos</a>
                        </div>

                        <a class="gallery-title" title="Suivi ostéopathique du nourrisson" href="#" data-toggle="modal"
                            data-target="#modal-nourisson">
                            Suivi du nourrisson
                        </a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="gallery-thumb no-marg">
                        <img src="img/grossesse.jpg" alt="Suivi ostéopathique de grossesse">

                        <div class="hover">
                            <a href="#" title="Suivi ostéopathique de grossesse" data-toggle="modal"
                                data-target="#modal-grossesse">+ d'infos</a>
                        </div>

                        <a class="gallery-title" title="Suivi ostéopathique de grossesse" href="#" data-toggle="modal"
                            data-target="#modal-grossesse">
                            Suivi de grossesse
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Séquelles -->
    <div class="modal fade" id="modal-fracture" tabindex="-1" role="dialog" aria-labelledby="modal-fracture-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal-fracture-title" class="modal-title page-title">Séquelles traumatiques et musculo-squelettiques</h4>
                </div>
                <div class="modal-body">
                    <img src="img/fracture.jpg" alt="Séquelles traumatiques et musculo-squelettiques" title="Séquelles traumatiques et musculo-squelettiques">
                    <div class="m-15px-t">
                        <p>Les <strong>séquelles traumatiques</strong> résultent souvent d’<strong>accidents de la route</strong>, de <strong>chutes</strong> ou encore de <strong>traumatismes sportifs</strong>. Elles se manifestent sous diverses formes comme les <strong>fractures</strong>, <strong>entorses</strong> ou contusions.</p>
                        <br>
                        <p>Du côté <strong>musculo-squelettique</strong>, les <strong>douleurs articulaires</strong> sont fréquentes, englobant <strong>lombalgies</strong>, <strong>dorsalgies</strong>, <strong>cervicalgies</strong>, ainsi que des <strong>raideurs</strong> et douleurs localisées au <strong>bassin</strong>, à la <strong>mâchoire</strong>, au <strong>coccyx</strong>, ou aux membres supérieurs et inférieurs. On y retrouve aussi des manifestations liées aux <strong>rhumatismes</strong> ou aux suites <strong>post-opératoires</strong>.</p>
                        <br>
                        <p>Par ailleurs, les atteintes <strong>musculo-ligamentaires</strong>, telles que <strong>tendinites</strong>, <strong>entorses</strong>, <strong>ténosynovites</strong> ou le <strong>syndrome de la bandelette ilio-tibiale</strong>, viennent souvent compléter ce tableau douloureux.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button default text-center no-border" data-dismiss="modal" aria-label="Fermer">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Systèmes -->
    <div class="modal fade" id="modal-mal-de-tete" tabindex="-1" role="dialog" aria-labelledby="modal-mal-de-tete-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal-mal-de-tete-title" class="modal-title page-title">Troubles des systèmes corporels</h4>
                </div>
                <div class="modal-body">
                    <img src="img/mal-de-tete.jpg" alt="Troubles des systèmes corporels" title="Troubles des systèmes corporels">
                    <div class="m-15px-t">
                        <p>Les troubles affectant les <strong>systèmes corporels</strong> peuvent se manifester par des symptômes variés. Au niveau <strong>céphalique</strong>, on observe souvent des <strong>maux de tête</strong>, <strong>migraines</strong> ou <strong>vertiges</strong>.</p>
                        <br>
                        <p>Le <strong>système ORL et pulmonaire</strong> n’est pas épargné, avec des affections telles que les <strong>acouphènes</strong>, infections ORL (<strong>otites</strong>, <strong>sinusites</strong>, <strong>rhinites</strong>), <strong>allergies</strong>, <strong>asthme</strong> ou encore des difficultés à déglutir.</p>
                        <br>
                        <p>Les troubles <strong>vasculaires</strong> incluent <strong>œdèmes</strong>, troubles circulatoires des membres, congestion veineuse, voire <strong>hémorroïdes</strong>.</p>
                        <br>
                        <p>Au niveau <strong>nerveux</strong>, les douleurs nerveuses comme les <strong>sciatiques</strong>, <strong>cruralgies</strong> ou <strong>névralgies cervico-brachiales</strong> sont fréquentes.</p>
                        <br>
                        <p>Les symptômes <strong>viscéraux</strong> touchent le <strong>système digestif</strong> supérieur (<strong>reflux gastro-œsophagiens</strong>, <strong>gastrites</strong>, <strong>ballonnements</strong>, <strong>ulcères</strong>) ainsi que le bas appareil digestif (<strong>constipation</strong>, <strong>diarrhée</strong>, <strong>colopathie fonctionnelle</strong>).</p>
                        <br>
                        <p>Les troubles <strong>génito-urinaires</strong>, quant à eux, se traduisent par des <strong>cystites</strong>, douleurs pelviennes et règles douloureuses.</p>
                        <br>
                        <p>Enfin, le <strong>système neurovégétatif</strong> se manifeste par du <strong>stress</strong>, de l’<strong>anxiété</strong>, des troubles du sommeil, des états dépressifs, <strong>spasmophilie</strong> et <strong>palpitations</strong>.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button default text-center no-border" data-dismiss="modal" aria-label="Fermer">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Suivi du nourrisson -->
    <div class="modal fade" id="modal-nourisson" tabindex="-1" role="dialog" aria-labelledby="modal-nourisson-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal-nourisson-title" class="modal-title page-title">Suivi ostéopathique du nourrisson</h4>
                </div>
                <div class="modal-body">
                    <img src="img/nourisson.jpg" alt="Suivi ostéopathique du nourrisson" title="Suivi ostéopathique du nourrisson">
                    <div class="m-15px-t">
                        <p>Le suivi ostéopathique du <strong>nourrisson</strong> vise à soulager et prévenir divers troubles fréquents, tels que le <strong>torticolis congénital</strong> ou la <strong>plagio-céphalie</strong>, qui peuvent affecter la posture et le confort du bébé.</p>
                        <br>
                        <p>On accompagne aussi les <strong>coliques</strong>, troubles <strong>ORL</strong>, <strong>régurgitations</strong>, ainsi que les problèmes de <strong>sommeil</strong>, afin d’assurer un développement harmonieux et un bien-être optimal.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button default text-center no-border" data-dismiss="modal" aria-label="Fermer">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Suivi de grossesse -->
    <div class="modal fade" id="modal-grossesse" tabindex="-1" role="dialog" aria-labelledby="modal-grossesse-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal-grossesse-title" class="modal-title page-title">Suivi ostéopathique de grossesse</h4>
                </div>
                <div class="modal-body">
                    <img src="img/grossesse.jpg" alt="Suivi ostéopathique de grossesse" title="Suivi ostéopathique de grossesse">
                    <div class="m-15px-t">
                        <p>Durant la <strong>grossesse</strong>, de nombreux troubles peuvent survenir. Les douleurs mécaniques telles que <strong>lombalgies</strong>, <strong>sciatalgies</strong> et douleurs pelviennes sont courantes.</p>
                        <br>
                        <p>Les troubles digestifs, notamment les <strong>nausées</strong>, <strong>reflux gastro-œsophagiens</strong>, <strong>ballonnements</strong> et troubles du transit, impactent également le confort de la future maman.</p>
                        <br>
                        <p>Sur le plan circulatoire, des sensations de <strong>jambes lourdes</strong>, <strong>hémorroïdes</strong> ou <strong>maux de tête</strong> peuvent apparaître.</p>
                        <br>
                        <p>Enfin, les troubles respiratoires se traduisent souvent par des sensations d’<strong>oppression</strong> ou des difficultés respiratoires, pouvant être soulagés par un suivi adapté.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button default text-center no-border" data-dismiss="modal" aria-label="Fermer">Fermer</button>
                </div>
            </div>
        </div>
    </div>

</section>

<style>
    .no-border {
        border: none !important;
    }

    .m-15px-t {
        margin-top: 15px !important;
    }
</style>