<section id="gallery" class="page-section">
    <div class="container">
        <div class="row page-heading">
            <div class="col-md-8 col-sm-8">
                <h3 class="page-title">Quand consulter ?</h3>
            </div>
            <div class="col-md-4 col-sm-4 hidden-xs text-right">
                <p class="page-icon"><i class="fa fa-clock-o"></i></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p>
                    S’il n’y a pas de moment spécifique pour venir consulter un ostéopathe, il est préférable d’y aller deux ou trois fois par an si vous êtes en forme et ne souffrez pas, pour garder un bon état de santé et ainsi prévenir d’éventuel trouble.
                    <br/><br />
                    Au cours de la vie, votre corps va enregistrer des dysfonctions à chaque petits aléas (chute, stress, traumatisme,…), et ces pertes de mobilité vont s’accumuler. Le corps humain a la capacité de les compenser en créant par exemple  des points d’appui différents, un autre équilibre, jusqu’au jour où il ne pourra plus compenser et c’est à ce moment que les douleurs apparaissent. Bien entendu, n’hésitez pas à faire appel à votre ostéopathe, mais sachez qu’il aurait peut-être été préférable de consulter avant  que ces douleurs n’apparaissent.
                    <br/><br />
                </p>
            </div>
        </div>

        <div class="row">
            <div class="gallery-holder">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="gallery-thumb">
                        <img src="img/fracture.jpg" alt="fracture">

                        <div class="hover">
                            <a href="#" title="fracture" data-toggle="modal" data-target="#modal-fracture">+ d'infos</a>
                        </div>
                    </div>

                    <a class="gallery-title" title="fracture" href="#" data-toggle="modal" data-target="#modal-fracture">
                        Séquelles
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="gallery-thumb">
                        <img src="img/mal-de-tete.jpg" alt="mal-de-tete">

                        <div class="hover">
                            <a href="#" title="mal-de-tete" data-toggle="modal" data-target="#modal-mal-de-tete">+ d'infos</a>
                        </div>
                    </div>

                    <a class="gallery-title" title="mal-de-tete" href="#" data-toggle="modal" data-target="#modal-mal-de-tete">
                        Systèmes
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="gallery-thumb">
                        <img src="img/nourisson.jpg" alt="nourisson">

                        <div class="hover">
                            <a href="#" title="nourisson" data-toggle="modal" data-target="#modal-nourisson">+ d'infos</a>
                        </div>
                    </div>

                    <a class="gallery-title" title="nourisson" href="#" data-toggle="modal" data-target="#modal-nourisson">
                        Suivi du nourrisson
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="gallery-thumb no-marg">
                        <img src="img/grossesse.jpg" alt="grossesse">

                        <div class="hover">
                            <a href="#" title="grossesse" data-toggle="modal" data-target="#modal-grossesse">+ d'infos</a>
                        </div>
                    </div>

                    <a class="gallery-title" title="grossesse" href="#" data-toggle="modal" data-target="#modal-grossesse">
                        Suivi de grossesse
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="modal-fracture" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title page-title">Séquelles</h4>
                </div>
                <div class="modal-body">
                    <img src="img/fracture.jpg" alt="Séquelles" title="Séquelles">
                    <div class="modal-content-list">
                        <ul>
                            <li>
                                <strong>Traumatiques :</strong>
                                <ul>
                                    <li>Accident de la voie publique, chutes, fractures, entorses, traumatismes sportifs,…</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Séquelles musculo-squelettique :</strong>
                                <ul>
                                    <li>
                                        <strong>Articulaires :</strong> lombalgies, lumbago, dorsalgies, cervicalgies, raideurs articulaires, douleur de mâchoire, douleur du bassin, coccyx, pubis, douleur membre inférieur et supérieur, rhumatismes, séquelles acte chirurgical,…
                                    </li>
                                    <li>
                                        <strong>Musculo-ligamentaires :</strong> entorses, tendinites, ténosynovite, syndrome de la bandelette ilio-tibiale,…
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" title="fermer" class="button default text-center" data-dismiss="modal">Fermer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-mal-de-tete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title page-title">Sytèmes</h4>
                </div>
                <div class="modal-body">
                    <img src="img/mal-de-tete.jpg" alt="Sytèmes" title="Sytèmes">
                    <div class="modal-content-list">
                        <ul>
                            <li>
                                <strong>Système céphalique :</strong>
                                <ul>
                                    <li>Maux de tête, migraines, vertiges</li>
                                </ul>
                            </li>

                            <li>
                                <strong>Système ORL et pulmonaire :</strong>
                                <ul>
                                    <li>Acouphènes, infections ORL (otites, sinusites, rhinites,…), allergies, asthme, trouble de la déglutition, vertiges</li>
                                </ul>
                            </li>

                            <li>
                                <strong>Système vasculaire :</strong>
                                <ul>
                                    <li>Œdèmes, hémorroïdes, troubles circulatoires de membres inférieurs et supérieurs, congestion veineuse,…</li>
                                </ul>
                            </li>

                            <li>
                                <strong>Système nerveux :</strong>
                                <ul>
                                    <li>Sciatique, sciatalgie, cruralgie, méralgie, névralgie cervico-brachiale, névralgie d’Arnold,…</li>
                                </ul>
                            </li>

                            <li>
                                <strong>Système viscéral :</strong>
                                <ul>
                                    <li>
                                        Haut : reflux gastro-œsophagiens, acidité gastrique, ballonnements, gastrites, ulcères, douleurs,…
                                    </li>
                                    <li>
                                        Bas : constipations, diarrhées, colites, colopathie fonctionnelle, douleurs, digestion difficile,…
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <strong>Système génito-urinaire :</strong>
                                <ul>
                                    <li>Cystites, douleurs, douleurs pendant rapports sexuels, règles douloureuses,…</li>
                                </ul>
                            </li>

                            <li>
                                <strong>Système neurovégétatif :</strong>
                                <ul>
                                    <li>Stress, anxiété, trouble du sommeil, état dépressif, crise d’angoisse, spasmophilie, palpitations,…</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" title="fermer" class="button default text-center" data-dismiss="modal">Fermer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-nourisson" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title page-title">Suivi du nourrisson</h4>
                </div>
                <div class="modal-body">
                    <img src="img/nourisson.jpg" alt="Suivi du nourrisson" title="Suivi du nourrisson">
                    <div class="modal-content-list no-marg-li">
                        <ul>
                            <li>Torticolis </li>
                            <li>plagio-céphalie</li>
                            <li>coliques</li>
                            <li>troubles ORL</li>
                            <li>régurgitations</li>
                            <li>troubles du sommeil</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" title="fermer" class="button default text-center" data-dismiss="modal">Fermer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-grossesse" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title page-title">Suivi de grossesse</h4>
                </div>
                <div class="modal-body">
                    <img src="img/grossesse.jpg" alt="Suivi de grossesse" title="Suivi de grossesse">
                    <div class="modal-content-list no-marg-li">
                        <ul>
                            <li>
                                <strong>Troubles mécaniques :</strong>
                                <ul>
                                    <li>lombalgies, sciatalgies, douleur du bassin,…</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Troubles digestifs :</strong>
                                <ul>
                                    <li>nausées, reflux, astro-œsophagien, trouble du transit, ballonnements,…</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Troubles circulatoires :</strong>
                                <ul>
                                    <li>jambes lourdes, hémorroïdes, maux de tête,…</li>
                                </ul>
                            </li>
                            <li><strong>Troubles respiratoires</strong></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" title="fermer" class="button default text-center" data-dismiss="modal">Fermer</a>
                </div>
            </div>
        </div>
    </div>

</section>
